@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InputGetEmployeeById</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .error-message {
            color: red;
            display: none;
        }

        .error {
            border-color: red;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="title">Get Employee by ID</h2>
        <form id="getEmployeeByIdForm" action="@Url.Action("GetEmployeeById", "Employee")" method="get">
            <div class="form-group row">
                <label for="employeeId" class="col-sm-12 col-md-3 m-text-left text-left text-normal control-label col-form-label col-lg-3 text-lg-right">Enter the Employee ID</label>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <input type="text" name="id" id="employeeId" class="form-control" placeholder="Employee ID" required />
                    <span class="error-message">Employee ID is required.</span>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-4 col-sm-6 col-6 mb-2 mb-sm-0">
                    <button type="reset" id="btnCancel" class="btn btn-primary btn-block">Reset</button>
                </div>
                <div class="col-md-4 col-sm-6 col-6">
                    <button type="button" id="btnProceed" class="btn btn-primary btn-block">Proceed</button>
                </div>
            </div>
        </form>
    </div>

    <!-- jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle form submission when "Proceed" button is clicked
            $('#btnProceed').click(function () {
                var employeeId = $('#employeeId').val();
                if (!employeeId) {
                    $('.error-message').show();
                    $('#employeeId').addClass('error');
                } else {
                    $('.error-message').hide();
                    $('#employeeId').removeClass('error');
                    $('#getEmployeeByIdForm').submit();
                }
            });
        });
    </script>
</body>
</html>
